<footer>
	&copy; 2025 Landon DeCoito
	<br />
	<a href="https://mastodon.social/@LandoDev" rel="me">
		<img src="/assets/mastodon_logo_purple.svg" class="textsize-2" alt="The Mastodon logo" />
	</a>
</footer>
