<header>
	<nav>
		<a href="/" class="button">
			<img src="/assets/L_logo.png" class="textsize" alt="A cursive letter L with a red accent stroke" aria-hidden="true" />
			Home
		</a>
		<label class="hamburger-button button" for="nav-dropdown">
			<span class="visually-hidden">Open Navigation</span>
			<span class="nav-expand" aria-hidden="true">=</span>
			<span class="nav-close" aria-hidden="true">X</span>
			<input class="visually-hidden" type="checkbox" id="nav-dropdown" autocomplete="off" />
		</label>
		<ul>
			<li><a href="/boardgames/board-game-shelf">Board Games</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
</header>