---
layout: layouts/base.njk
---

<article>
	{{ content | safe }}
</article>

<aside>
	<h1>Other Blog Links</h1>
	<nav>
		<ul class="sublinks">
			<li><a href="/blog/archive">Archive</a></li>
			<li><a href="/blog/categories">Categories</a></li>
		</ul>
	</nav>
</aside>
