---
layout: layouts/base.njk
---

<h1>Recipes</h1>

<p>
  Similary to the Articles page, I wanted a place where I can keep links to various recipes I've tried or want to try.
  I also want to make note of any modifications to these recipes that I do.
</p>