---
layout: layouts/base.njk
---
<article>
	<h1>Landon</h1>
	<p>
		Frontend Application Developer
		<br />
		He/Him
	</p>
	<h2 id="about-me">About Me</h2>
	<p>
		Hello! I'm Lando, and I'm a software developer who primarily
		focuses on application frontends. My expertise is in React (I know, I
		know), but I've also dabbled in other frameworks like Svelte and
		Eleventy. At work, I'm a senior engineer and a mentor, and I care a lot
		about best practices and elegant, maintainable code. Or, you know, the best
		I can get within practical bounds.
	</p>
	<h2 id="projects">My Projects</h2>
	<div class="card-group">
		<section class="card">
			<img src="/assets/L_logo.png" alt="A cursive letter L with a red accent stroke" class="project-logo" />
			<h3>Personal Website</h3>
			<p>
				The website you're looking at! I created this site from scratch
				using <a href="https://www.11ty.dev/">11ty</a>, and I had a lot of fun
				doing it. I did my best to ensure there is absolutely no client-side JavaScript,
				and at time of writing there is none!
			</p>
			<a href="https://landodev.net/">https://landodev.net/</a>
		</section>
		<section class="card">
			<img src="/assets/check_your_balance_logo.png"
				alt="An ornamental balancing scale with a half-white, half-black color scheme" class="project-logo" />
			<h3>Check Your Balance</h3>
			<p>
				This was a passion project that serves as a quick and easy way to
				track Player Characters and Non-Player Characters in the tabletop
				roleplaying game <a href="https://magpiegames.com/pages/avatar-legends">Avatar Legends</a>,
				by Magpie Games. I used it myself
				for some of my games and was
				pleased with the results.
			</p>
			<p>
				The unstated goal of the project was to get some experience using a
				framework called <a href="https://kit.svelte.dev/">SvelteKit</a>,
				which uses <a href="https://svelte.dev/">Svelte</a> to make
				performant and reactive web applications.
			</p>
			<a href="https://ttrpgtools.app/">https://ttrpgtools.app/</a>
		</section>
	</div>
</article>